@model Plantilla_Agenda.Models.Agenda
 

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Agenda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Sedes" class="control-label"></label>
                <select asp-for="IdSede" class="form-control">
                    <option value="">Seleccione una sede...</option>
                    @foreach (var sede in Model.Sedes)
                    {
                        <option value="@sede.IdSede">@sede.Direccion</option>
                    }
                </select>
                <span asp-validation-for="IdSede" class="text-danger"></span>
            </div>

           


            <div class="form-group">
                <label asp-for="Horarios" class="control-label"></label>
                <select asp-for="IdHorario" class="form-control">
                    <option value="">Seleccione un servicio...</option>
                    @foreach (var horarios in Model.Horarios)
                    {
                        <option value="@horarios.IdHorario">@horarios.HoraInicio</option>
                    }
                </select>
                <span asp-validation-for="IdHorario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servicioss" class="control-label"></label>
                <select asp-for="IdServicio" class="form-control">
                    <option value="">Seleccione un servicio...</option>
                    @foreach (var servicio in Model.Servicioss)
                    {
                        <option value="@servicio.IdServicio">@servicio.Nombre</option>
                    }
                </select>
                <span asp-validation-for="IdServicio" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="IdProfesional" class="control-label"></label>
                <select asp-for="IdProfesional" class="form-control">
                    <option value="">Seleccione una persona...</option>
                    @foreach (var persona in Model.Personas)
                    {
                        <option value="@persona.IdPersona">@persona.PrimerNombre</option>
                    }
                </select>
                <span asp-validation-for="IdProfesional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span /> <span /><span />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
