@model Plantilla_Agenda.Models.Agenda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAgenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAgenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSede)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSede)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdServicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHorario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHorario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfesional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProfesional)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
