@model IEnumerable<Plantilla_Agenda.Models.Agenda>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAgenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHorario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProfesional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSedeAgendada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdServicioAgendado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAgenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSede)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdServicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdHorario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProfesional)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSedeAgendada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdServicioAgendado)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {   id=item.IdAgenda   }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.IdAgenda  }) |
                    @Html.ActionLink("Delete", "Delete", new {   id=item.IdAgenda  })
                </td>
            </tr>
        }
    </tbody>
</table>
