@model IEnumerable<AgendaListVistaModelo>

@using Plantilla_Agenda.Models // Add this if necessary
@using Microsoft.AspNetCore.Html // Add this if necessary
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAgenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreSede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SedeDireccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAgenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreSede)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SedeDireccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreServicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicio)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdAgenda }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdAgenda }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdAgenda })
                </td>
            </tr>
        }
    </tbody>
</table>
