@model IEnumerable<Plantilla_Agenda.Models.AgendamientoModel>

@{
    ViewData["Title"] = "Crear Agendamiento";
}

<h1>Lista De Agendamientos</h1>

<p>
    <a asp-action="Create">Crear Agendamiento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAgendamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAgendamiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaHora)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdAgendamiento }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdAgendamiento }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdAgendamiento })
                </td>
            </tr>
        }
    </tbody>
</table>
